<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <script src=" https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>
     <div id="addId">
        <span>用户名</span>  <input type="text" v-model="userName"><p/>
         <span>用户密码</span>  <input type="password" v-model="password"><p/>
         <input type="button" value="添加" @click="addUser">
     </div>

     <script>
         new Vue({
             el:"#addId",
             data:{
                 userName:"",
                 password:"",
                 result:""
             },
             methods:{
                 addUser:function () {
                     var params = new URLSearchParams();
                     params.append('userName', this.userName);
                     params.append('password',this.password);
                     axios({
                         method:'post',
                         url:"/addUser",
                         data:params
                     }).then(
                         function (r) {
                          if(r.data=="ok"){
                              location.href="login.html"
                          }
                         }
                     )
                     .catch(function (error) {
                         console.log(error);
                     })


                 }

             }

         });
     </script>
</body>
</html>